
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f5;
}

mat-card {
  width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
  padding: 15px;
  background-color: #027787;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

