<mat-toolbar class="navbar">
  <span class="logo">Tnak<span class="highlight">Ran</span></span>
  <div class="nav-links">
    <a *ngFor="let tab of tabs" [routerLink]="tab.route" routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }" mat-button color="primary"
      (click)="tab.name === 'Register' ? openRegister($event) : null">
      {{ tab.name }}
    </a>
  </div>
</mat-toolbar>

<div class="container">
  <div class="left-section">
    <h1>Welcome to <span class="highlight">TnakRan</span></h1>
    <p class="quote">
      “Education is the passport to the future, for tomorrow belongs to those who prepare for it today”
    </p>
  </div>
  <app-login></app-login>
</div>
<router-outlet></router-outlet>
